:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(170, 170, 170);
}

.section {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #242424;
}

#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
